@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    overflow: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #1f2937;
    padding: 0 10%;
    color: #ffffff;
}
.header_logo {
    font-weight: bolder;
    font-size: 24px;
    color: #f9faf8;
}

.content_upper {
    display: flex;
    background-color: #1f2937;
    padding: 3% 13%;
    color: #ffffff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

img {
    max-width:100%;
}
.hero_text_main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero_text_sub 
.header_link{
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}
.content_lower {
    display: flex;
    background-color: white;
    padding: 4% 15%;
    color: #1f2937;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.info_header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.container {
    display: flex;
    gap: 55px;
    flex-wrap: wrap;
  }

  .card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    max-width: 200px;
  }
  .text {
    padding: 16px;
    font-size: 18px;
    font-weight: 900;
    color: #1f2937;
  }
  
  .info {
    max-width: 200px;
  }
  
  .quote_section {
    display: flex;
    background-color: #e5e7eb;
    padding: 4% 19%;
    color: #1f2937;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    align-self: center;
  }
  .odin {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
    font-style: normal;
    align-self: flex-end;
  }

  .action_box {
    display: flex;
    background-color: white;
    padding: 3% 14%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .call_action {
    background-color: #3882f6;
    color: #ffffff;
    width: 80%;
    height: 20vh;
    border-radius: 8px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    gap: 16px;
    padding: 16px;
    align-self: center;
    align-items: center;
  }

  .action_header {
    font-size: 24px;
    font-weight: 900;
    color: white
    align-self: flex-start;
    margin-bottom: 4px;
  }
  .action_text {
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
    align-self: flex-start;
  }
  button.continue {
        background: #3882f6;
        border: 1px solid white;
        color: white;
        border-radius: 6px;
        min-width: 75px;
        min-height: auto;
  }
.footer {
    display: flex;
    background-color: #1f2937;
    padding: 3%;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}